{ // what to convert to es5
    "presets": [
        ["env", {
            "targets": {
                "browser":[
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}